.victorina {
    width: 320px;
    height: 568px;
    position: relative;
    &-cover {
        background: url('../img/cover.jpeg') center center/cover no-repeat;
        height: 140px;
        padding-top: 70px;
        padding-left: 20px;
        padding-bottom: 12px;
    }
    &-main {
        position: absolute;
        width: 100%;
        height: 100%;
        background:url('../img/bg.jpeg') center center/cover no-repeat;
        z-index: 1;
        opacity: 1;
        transition: 0.5s all;
        &_hiden{
            opacity: 0;
        }
        &__title{
            padding-top: 198px;
            width: 281px;
            margin: 0 auto;
            h1 {
                color: rgb(255, 255, 255);
                font-size: 26.9px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0%;
                text-align: left;
            }
            h2 {
                color: rgb(255, 255, 255);
                font-family: Golos Text;
                font-size: 37.69px;
                font-weight: 700;
                line-height: 45px;
                letter-spacing: 0%;
                text-align: left;
                text-transform: uppercase;
            }
        }
    }
    &-category {
        width: 100%;
        border: 1px solid #fff;
        padding: 18px 20px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        &__title {
            width: 96px;
            font-size: 15px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
        }
        &__adult {
            width: 79px;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
            cursor: pointer;
            &_active {
                text-decoration-line: underline;
            }
        }
        &__kids {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
            cursor: pointer;
            &_active {
                text-decoration-line: underline;
            }
        }
    }
    &-question{
        width: 100%;
        height: 100%;
        background:#fff;
        position: absolute;
        transition: 0.5s all;
        opacity: 0;
        z-index: -1;
        &__counter {
            color:#fff;
            font-size: 21.83px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
            width: 77px;
            span {
                font-size: 28.55px;
                font-weight: 700;
                line-height: 34px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        
    }
    &-questions{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
            margin-bottom: 0;
            padding: 8px 10px;
            color:#fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            background: rgb(255, 0, 0);
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            li {
                list-style: none;
                padding: 5px;
                font-size: 13px;
                display: flex;
                align-items:center;
                box-sizing: border-box;
                border: 1px solid rgb(255, 0, 0);
                border-radius: 4px;
                input {
                    opacity: 0;
                }
            }
        }
    }
    &-finish {
        height: 100%;
        width: 100%;
        border: 1px solid red;
        background:#fff;
        position: absolute;
        z-index: 4;
    }
    &-res{
        color: rgb(3, 68, 220);
        width: 279px;
        height: 99px;
        position: absolute;
        left: 20px;
        top: 120px;
        &__head{
            box-sizing: border-box;
            border: 1px solid rgb(3, 68, 220);
            background: rgb(255, 255, 255);
            font-size: 33.53px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0%;
            width:230px;
            text-align: left;
            text-transform: uppercase;
            padding: 6px 7px;
            position: absolute;
            text-align: left;
            display: flex;
            align-items: center;
            background:#fff;
            z-index: 6;
        }
        &__rectangle {
            width: 200px;
            height: 99.5px;
            background:url('../img/rec.png') center center/cover no-repeat;
            position: absolute;
            z-index: 5;
            right: 0;
            top: 0;
        }
        &__footer {
            width: 150px;
            min-height: 30px;
            padding:3px 13px;
            box-sizing: border-box;
            border: 1px solid rgb(3, 68, 220);
            background: rgb(255, 255, 255);
            position: absolute;
            right: 0;
            color: rgb(3, 68, 220);
            font-size: 20.93px;
            font-weight: 500;
            line-height: 23.72px;
            letter-spacing: 0%;
            text-align: left;
            top: 70px;
            z-index: 7;
            text-transform: uppercase;
        }
        &__underline{
            height: 0.5px;
            width: 100%;
            position: absolute;
            z-index: 6;
            bottom: -2px;
            background: rgb(3, 68, 220);
        }
        &__counter{
            position: absolute;
            z-index: 8;
            left: 0;
            top: 57px;
            color: rgb(3, 68, 220);
            font-family: Golos Text;
            font-size: 28.55px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
    &-data{
        &__message {
            width: 280px;
            height: 81px;
            top: 239px;
            left: 20px;
            position: absolute;
            z-index: 9;
            display: flex;
            align-items:center;
            box-sizing: border-box;
            border: 5px solid rgb(255, 0, 0);
            background: rgb(255, 255, 255);
            color: rgb(3, 68, 220);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
            padding: 14px 17px;
        }
        &__rec {
            background:url('../img/vector.png') center center/cover no-repeat;
            position: absolute;
            width: 26px;
            height: 43px;
            left: 75px;
            top: 314px;
            z-index: 9;
        }
        &__dots {
            position: absolute;

            top: 340px;
            z-index: 8;
            display: flex;
            gap: 10px;
            right: 100px;
            div {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: rgb(255, 0, 0);
            }
        }
        &__info {
            position: absolute;
            top: 380px;
            left: 20px;
            z-index: 9;
            color:#fff;
            input {
                padding: 12px 10px;
                border: none;
                width: 281px;
                color:#fff;
                height: 40px;
                border-radius: 4px;
                background: rgb(3, 68, 220);
            }
            input:focus {
                outline: none;
            }
            input::placeholder {
                color: white;
            }
        }
    }
}
.question {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hidden {
    display: none;
}
.chosedOption {
    background: rgb(3, 68, 220);
    color:#fff;
}
.message {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 25px;
    top: 426px;
    color: rgb(3, 68, 220);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    z-index: 9;
    display: none;
}

.logo {
    display: none;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom:20px;
}

.hello-again {
    width: 100%;
    height: 100%;
    background:#fff;
    position: absolute;
    z-index: 11;
    display: none;
    box-shadow: 0px 5px 5px rgb(203, 203, 203);
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}
// .victorina {
//     width: 320px;
//     height: 568px;
//     background:url('../img/bg.jpeg');
// }